# Railway vai setar uma dessas automaticamente no serviço
DATABASE_PUBLIC_URL="postgres://user:pass@host:5432/db"

# opcional
PGSSLMODE=require
PG_CONNECT_TIMEOUT=10

# schema e tabela
DB_SCHEMA=bd_agenda
DB_TABLE=eventos
